<!DOCTYPE html>
<html lang="zh-cn" ng-app>
<head>
    <meta charset="UTF-8">
    <title>index</title>
    
   </head>
<body ng-app ng-controller="ToDoControl"> 
   
value:<input type="text" id ="input_item" ng-model="input_val"/> <button type="button" ng-click="addItem()">Add</button>
<hr/>
index:<input type="text" id ="edit_item_index" ng-model="edit_index"/> 
value:<input type="text" id ="edit_item" ng-model="edit_val"/> <button type="button" ng-click="editItem()">Edit</button>
<hr/>
index:<input type="text" id ="delete_item" ng-model="delete_index"/> <button type="button" ng-click="deleteItem()">Delete</button>
<hr/>
search:<input type="text" id ="search_item" ng-model="searchText"/>  



<ul>
<li ng-repeat="item in items |filter:searchText track by $index">
					 {{item}}
</li>
</ul>
</body>

<script type="text/javascript" src="angular.js"></script>
<script type="text/javascript" src="todo.js"></script>

</html>